
*.out
*.exe
*.o
*.cbp
*.layout
bin/
cmake-build-debug/
.idea
*.filters
*.vcxproj
*.user
*.idb
*.obj
*.tlog
main_cpp/main_cpp/b_read_on.txt
main_cpp/main_cpp/a_example.txt
main_cpp/main_cpp/c_incunabula.txt
main_cpp/main_cpp.sln
main_cpp/main_cpp/d_tough_choices.txt
*.log
*.pch
main_cpp/.vs/main_cpp/v15/.suo
*.db
*.opendb
*.ipch
*.ilk
*.pdb
*.txt
main_cpp/main_cpp/pch.h
main_cpp/main_cpp/pch.cpp
main_cpp/input.h
